# IDE
.idea
.vscode

# Node modules
node_modules
**/node_modules

# Git
.git

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
**/*.env

# Build output
dist
build
**/build
**/dist

# Logs
logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Coverage
coverage

# Docker
.dockerignore