# POSTGRES
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# PGADMIN
PGADMIN_PORT=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
# MONGODB + MONGO EXPRESS
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_SERVER=
MONGO_EXPRESS_USERNAME=
MONGO_EXPRESS_PASSWORD=
MONGO_PORT=
# REDIS
REDIS_PASSWORD=
REDIS_PORT=
# KAFKA
KAFKA_PORT=
KAFKA_EXTERNAL_PORT=
KAFKA_CLUSTER_ID=
# KAFKA UI
KAFKA_UI_PORT=