# PostgreSQL
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# PgAdmin
PGADMIN_PORT=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Kafka
KAFKA_PORT=
KAFKA_EXTERNAL_PORT=
KAFKA_CLUSTER_ID=

# Kafka UI
KAFKA_UI_PORT=